<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="main.title">Welcome, Java Hipster!</h1>
            <p class="lead" translate="main.subtitle">This is your homepage</p>

            <div ng-switch="authenticated">
                <div class="alert alert-success" ng-switch-when="true"
                     translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                    password="admin".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    Don't have an account? <a href=\"#/register\">Register</a>
                </div>
            </div>

            <p translate="main.question">
                If you have any question on Geo d'Sea:
            </p>

            <ul>
                <li><a href="https://bitbucket.org/arthurvernon/com.geodsea.web/issues?state=open" target="_blank"
                       translate="main.link.bugtracker">Geo d'Sea bug tracker</a><span class="glyphicon glyphicon-share-alt"></span></li>
                <li><a href="https://bitbucket.org/arthurvernon/com.geodsea.web/wiki/Home" target="_blank" translate="main.link.wiki">Geo d'Sea Wiki</a></li>
                <li><a href="https://twitter.com/geodsea" target="_blank"  translate="main.link.twitter">contact @geodsea on Twitter</a></li>
            </ul>

        </div>
    </div>
</div>
