<div>
    <div class="row">
        <h1 translate="help.overview.title">Overview</h1>

        <p translate="help.overview.headline">headline</p>
        <p translate="help.overview.benefits.leadin">benefits lead-in</p>
        <ul>
            <li><a href="#/skipper"><span translate="global.menu.help.skipper">Skipper</span></a>
                <div translate="help.overview.benefits.skipper">skipper</div></li>
            <li ><a href="#/rescue"><span translate="global.menu.help.rescue">Skipper</span></a>
                <div translate="help.overview.benefits.rescue">rescue</div></li>
            <li><a href="#/friend"><span translate="global.menu.help.friend">Friend</span></a>
                <div translate="help.overview.benefits.friend">friends</div></li>
            <li><a href="#/club"><span translate="global.menu.help.club">Club</span></a>
                <div translate="help.overview.benefits.club">club</div></li>
        </ul>


        <div class="col-md-4">
            <div class="alert alert-warning" translate="global.messages.info.register">
                You don't have an account yet? <a href=\"#/register\">Register a new account</a>
            </div>
        </div>
    </div>
</div>
