<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 translate="title.passwordForUser" translate-values="{username: '{{account.login}}'}">Password for [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate="message.password.save.success">
                <strong>Password changed!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorcode" translate="{{errorcode}}">
            </div>

            <div class="alert alert-danger" ng-show="error"  translate="message.password.save.error">

                <strong>An error has occured!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="message.password.mismatch">
              The password and its confirmation do not match!
            </div>

            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="changePassword()">

                <div class="form-group">
                    <label for="oldPassword" translate="field.oldpassword.label">Curent Password</label>
                    <input type="password" class="form-control" id="oldPassword" placeholder="{{'field.oldpassword.placeholder' | translate}}"
                           ng-model="password.oldPassword">
                </div>

                <div class="form-group">
                    <label translate="field.newpassword.label">New password</label>
                    <input type="password" class="form-control" name="password" placeholder="{{'field.newpassword.placeholder' | translate}}"
                           ng-model="password.newPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.password.$dirty && form.password.$invalid">
                        <small class="error"
                               ng-show="form.password.$error.required" translate="field.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="error"
                               ng-show="form.password.$error.minlength" translate="field.newpassword.minlength">
                            Your password is required to be at least 5 characters
                        </small>
                        <small class="error"
                               ng-show="form.password.$error.maxlength" translate="field.newpassword.maxlength">
                            Your password cannot be longer than 50 characters
                        </small>
                    </div>
                    <password-strength-bar password-to-check="password.newPassword"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label translate="field.confirmpassword.label">New password confirmation</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="{{'field.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <small class="error"
                               ng-show="form.confirmPassword.$error.required" translate="field.confirmpassword.required">
                            Your password confirmation is required.
                        </small>
                        <small class="error"
                               ng-show="form.confirmPassword.$error.minlength" translate="field.confirmpassword.minlength">
                            Your password confirmation is required to be at least 5 characters
                        </small>
                        <small class="error"
                               ng-show="form.confirmPassword.$error.maxlength" translate="field.confirmpassword.maxlength">
                            Your password confirmation cannot be longer than 50 characters
                        </small>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="button.save">Save</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>

