<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 translate="title.register.user">Registration</h1>

            <div class="alert alert-success" ng-show="success" translate="result.register.participant.saved">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="result.register.participant.failed">
                <strong>Registration failed!</strong> Please check your input and try again.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists" translate="result.register.participant.nameInUse">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="result.password.mismatch">
                The password and its confirmation do not match!
            </div>

            <form ng-show="!success" name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="register()">


                <!-- first name -->
                <div class="form-group">
                    <label translate="field.firstname.label">First Name</label>
                    <input type="text" class="form-control" name="login" placeholder="{{'field.firstname.placeholder' | translate}}"
                           ng-model="registerAccount.firstName" ng-minlength=2 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.firstname.$dirty && form.firstname.$invalid">
                        <small class="error" ng-show="form.firstname.$error.required"
                               translate="field.firstname.required">
                            Your login is required.
                        </small>
                        <small class="error" ng-show="form.firstname.$error.minlength"
                               translate="field.firstname.minlength">
                            Your first name is required to be at least 2 characters
                        </small>
                        <small class="error"
                               ng-show="form.firstname.$error.maxlength" translate="field.firstname.maxlength">
                            Your first name cannot be longer than 50 characters
                        </small>
                    </div>
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label translate="field.lastname">last Name</label>
                    <input type="text" class="form-control" name="login" placeholder="{{'field.lastname.placeholder' | translate}}"
                           ng-model="registerAccount.lastName" ng-minlength=2 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.lastname.$dirty && form.lastname.$invalid">
                        <small class="error" ng-show="form.lastname.$error.required"
                               translate="field.lastname.required">
                            Your login is required.
                        </small>
                        <small class="error" ng-show="form.lastname.$error.minlength"
                               translate="field.lastname.minlength">
                            Your last name is required to be at least 2 characters
                        </small>
                        <small class="error"
                               ng-show="form.lastname.$error.maxlength" translate="field.lastname.maxlength">
                            Your last name cannot be longer than 50 characters
                        </small>
                    </div>
                </div>

                <!-- user name -->
                <div class="form-group">
                    <label translate="field.username.label">Login</label>
                    <input type="text" class="form-control" name="login" placeholder="{{'field.username.placeholder' | translate}}"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=50 required ensureUnique>
                    <div class="error"
                         ng-show="form.login.$dirty && form.login.$invalid">
                        <small class="error"
                               ng-show="form.login.$error.required" translate="field.username.required">
                            Your login is required.
                        </small>
                        <small class="error"
                               ng-show="form.login.$error.minlength" translate="field.username.minlength">
                            Your login is required to be at least 1 character
                        </small>
                        <small class="error"
                               ng-show="form.login.$error.maxlength" translate="field.username.maxlength">
                            Your login cannot be longer than 50 characters
                        </small>
                    </div>
                </div>

                <!-- email address -->
                <div class="form-group">
                    <label translate="field.email.label">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="{{'field.email.placeholder' | translate}}"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div class="error"
                         ng-show="form.email.$dirty && form.email.$invalid">
                        <small class="error"
                               ng-show="form.email.$error.required" translate="field.email.required">
                            Your e-mail is required.
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.email" translate="field.email.invalid">
                            Your e-mail is invalid.
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.minlength" translate="field.email.minlength">
                            Your e-mail is required to be at least 5 characters
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.maxlength" translate="field.email.maxlength">
                            Your e-mail cannot be longer than 100 characters
                        </small>
                    </div>
                </div>

                <!-- street address -->
                <div class="form-group">
                    <label translate="field.address">Street Address</label>
                    <input type="text" id="address" ng-model="registerAccount.address" class="form-control"
                           ng-autocomplete options="options" details="details"
                           placeholder="{{'field.address.placeholder' | translate}}"
                            />
                    <div class="error" ng-show="form.address.$dirty && form.address.$invalid">
                        <small class="error"
                               ng-show="form.address.$error.required" translate="field.address.required">
                            Your street address is required.
                        </small>
                    </div>
                </div>


                <!-- password -->
                <div class="form-group">
                    <label translate="field.newpassword.label">New password</label>
                    <input type="password" class="form-control" name="password" placeholder="{{'field.newpassword.placeholder' | translate}}"
                           ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.password.$dirty && form.password.$invalid">
                        <small class="error"
                               ng-show="form.password.$error.required" translate="field.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="error"
                               ng-show="form.password.$error.minlength" translate="field.newpassword.minlength">
                            Your password is required to be at least 5 characters
                        </small>
                        <small class="error"
                               ng-show="form.password.$error.maxlength" translate="field.newpassword.maxlength">
                            Your password cannot be longer than 50 characters
                        </small>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>

                <!-- password again-->
                <div class="form-group">
                    <label translate="field.confirmpassword.label">New password confirmation</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="{{'field.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <small class="error"
                               ng-show="form.confirmPassword.$error.required" translate="field.confirmpassword.required">
                            Your password confirmation is required.
                        </small>
                        <small class="error"
                               ng-show="form.confirmPassword.$error.minlength" translate="field.confirmpassword.minlength">
                            Your password confirmation is required to be at least 5 characters
                        </small>
                        <small class="error"
                               ng-show="form.confirmPassword.$error.maxlength" translate="field.confirmpassword.maxlength">
                            Your password confirmation cannot be longer than 50 characters
                        </small>
                    </div>
                </div>

                <!-- Secret Question -->
                <div class="form-group">
                    <label translate="field.question">Secret Question</label>
                    <input type="text" class="form-control" name="question" placeholder="{{'field.question.placeholder' | translate}}"
                           ng-model="registerAccount.question" ng-minlength=2 ng-maxlength=100
                           required>
                    <div class="error" ng-show="form.question.$dirty && form.question.$invalid">
                        <small class="error"
                               ng-show="form.question.$error.required" translate="field.question.required">
                            A question is required
                        </small>
                        <small class="error"
                               ng-show="form.question.$error.minlength" translate="field.question.minlength">
                            A question must contain at least two characters.
                        </small>
                        <small class="error"
                               ng-show="form.question.$error.maxlength" translate="field.question.maxlength">
                            A question must be no more than 100 characters
                        </small>
                    </div>
                </div>

                <!-- Answer to secret question -->
                <div class="form-group">
                    <label translate="field.answer">Answer</label>
                    <input type="text" class="form-control" name="answer" placeholder="{{'field.answer.placeholder' | translate}}"
                           ng-model="registerAccount.answer" ng-minlength=2 ng-maxlength=50
                           required>
                    <div class="error" ng-show="form.answer.$dirty && form.answer.$invalid">
                        <small class="error"
                               ng-show="form.answer.$error.required" translate="field.answer.required">
                            An answer to the question is required
                        </small>
                        <small class="error"
                               ng-show="form.answer.$error.minlength" translate="field.answer.minlength">
                            An answer must contain at least two characters.
                        </small>
                        <small class="error"
                               ng-show="form.answer.$error.maxlength" translate="field.answer.maxlength">
                            A question must be no more than 100 characters
                        </small>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="button.register">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning" translate="remove.authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                password="admin".
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
