<div xmlns:th="http://www.thymeleaf.org">

    <p>Organisations responsible for sea search and rescue operations can utilise GeoDSea to maintain a situational
        awareness of boating activity. Skippers may use the mobile app to automatically update information.
        Alterniatively the organisation may enter this in via an electronic form available in the <a
                href="/geodsea/WEB-INF/views/skipper/index.html"
                th:href="@{/rescue/index}">Rescue Portal</a>.</p>

    <p>The organisation is then be automatically notified of those departing from locations within their area of
        interest. Alternatively this information can be entered directly into the rescue portal.</p>

    <p> A colour-coded map indicates the status of boats display local reeither Local search and rescue organisations
        maintain records of boating activities originating from within their area of interest. They then maintain a
        watch on their area or interest using maps and status displaystracked.</p>

    <h3>Tracking Boats</h3>

    <p>Members of registered Sea Rescue Organisations can use
        <a href="/geodsea/WEB-INF/views/demo/map2.html" th:href="@{/demo/map2}">Geo Tracker Sea Rescue Map</a>
        to view active boats in their area of interest.</p>

    <p>Traditionally this information was maintained in a log, updated when a skipper radioed in his intentions and
        later on again when the skipper returned. This information can now be maintained within BoatPort&reg;.
    </p>

    <p>Skippers who use the BoatTrack&reg; application will input this information directly, reducing the burden on
        members to record details.</p>

    <p>Rescue organisations are alerted to cases where a boat fails to report in by the planned return time.</p>

    <h3>Maintaining Information</h3>

    <p>When a club first registers to use GeoDsea, the details of the club are entered including the radio callsign and
        other contact details for the club. So that the system can ascertain which boats should be monitored, the area
        of operations is defined using a map. An example of the tool you can use for this purpose is shown <a
                href="/geodsea/WEB-INF/views/demo/map2.html" th:href="@{/demo/map2}">here</a>. You need to be registered
        with GeoDSea to view this.</p>

    <p>Rescue organisation can define and publish the location of natural and man-made items such as hazards, channel
        markers and boat launching ramps. Once published, this information can be used by skippers. For example, a
        skipper using GeoDSea can see and enter his current location as &quot;Hillarys Marina Boat Ramp&quot; as opposed
        to a geographic coordinate.<br/>
        Also within an area of interest, the organisation has the ability to vet and publish (make public) or discard
        information that others wish to make public.</p>

    <h3>Using Information</h3>

    <p>When a boat reports a position within a certain distance of an object then the system can raise an alert to the
        skipper. For example:</p>
    <ul>
        <li>An exclusion zone may be defined around a sanctuary.</li>
        <li>A 50 metre radius around a submerged object.</li>
    </ul>
    <h3>Sending Alerts</h3>

    <p>BoatPort® provides a facility to send an alert to selected or all active boats within the organisation's area of
        interest. If required, an acknowledgement can be requested.</p>

    <h2>Monitoring</h2>

    <p>By enabling real-time reporting, others can track your location. This is ideal for:</p>
    <ul type="disc">
        <li>Event organisers wanting a low-cost solution for tracking vessels, e.g. a sailing regatta to plot yacht
            locations.
        </li>
        <li>Friends and family who want some assurance of your location without being seen to be prying.</li>
    </ul>
    <h2>&nbsp;</h2>
</div>
