<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 translate="title.settings" translate-values="{username: '{{account.login}}'}">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate="message.user.save.success">
                <strong>Settings saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" translate="message.user.save.error">
                <strong>An error has occured!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="save()">

                <div class="form-group">
                    <label translate="field.firstname.label">First Name</label>
                    <input type="text" class="form-control" name="firstName" placeholder="{{'field..firstname.placeholder' | translate}}"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <small class="error"
                               ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </small>
                        <small class="error"
                               ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character
                        </small>
                        <small class="error"
                               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="field.lastname.label">Last Name</label>
                    <input type="text" class="form-control" name="lastName" placeholder="{{'field.lastname.placeholder' | translate}}"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <small class="error"
                               ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </small>
                        <small class="error"
                               ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character
                        </small>
                        <small class="error"
                               ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="field.email.label">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="{{'field.email.placeholder' | translate}}"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div class="error"
                         ng-show="form.email.$dirty && form.email.$invalid">
                        <small class="error"
                               ng-show="form.email.$error.required" translate="field.email.required">
                            Your e-mail is required.
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.email" translate="field.email.invalid">
                            Your e-mail is invalid.
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.minlength" translate="field.email.minlength">
                            Your e-mail is required to be at least 5 characters
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.maxlength" translate="field.email.maxlength">
                            Your e-mail cannot be longer than 100 characters
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label translate="field.telephone.label">telephone</label>
                    <input type="tel" class="form-control" name="telephone" placeholder="{{'field.telephone.placeholder' | translate}}"
                           ng-model="settingsAccount.telephone" ng-minlength=5 ng-maxlength=100
                           ng-pattern="/^((\+\d{2,4}[- ]?)?((\d{1,4})|(\(\d{1,4}\)))[- ]?)?(\d{3,4})([- ])?(\d{3,4})$/"
                           required>
                    <div class="error"
                         ng-show="form.telephone.$dirty && form.telephone.$invalid">
                        <small class="error"
                               ng-show="form.telephone.$error.required" translate="field.telephone.required">
                            Your telephone number is required.
                        </small>
                        <small class="error"
                               ng-show="form.telephone.$error.telephone" translate="field.telephone.invalid">
                            Your telephone number is invalid.
                        </small>
                        <small class="error"
                               ng-show="form.telephone.$error.pattern" translate="field.telephone.invalid">
                            Your telephone number is invalid.
                        </small>
                        <small class="error"
                               ng-show="form.telephone.$error.minlength" translate="field.telephone.minlength">
                            Your telephone number is required to be at least 5 characters
                        </small>
                        <small class="error"
                               ng-show="form.telephone.$error.maxlength" translate="field.telephone.maxlength">
                            Your telephone number cannot be longer than 100 characters
                        </small>
                    </div>
                </div>
                <!-- street address -->
                <div class="form-group">
                    <label translate="field.address.label">Street Address</label>
                    <input type="text" id="address" ng-model="settingsAccount.address" class="form-control"
                           ng-autocomplete options="options" details="details"
                           placeholder="{{'field.address.placeholder' | translate}}"
                            />
                    <div class="error" ng-show="form.address.$dirty && form.address.$invalid">
                        <small class="error"
                               ng-show="form.address.$error.required" translate="field.address.required">
                            Your street address is required.
                        </small>
                    </div>
                </div>

                <!-- Secret Question -->
                <div class="form-group">
                    <label translate="field.question.label">Secret Question</label>
                    <input type="text" class="form-control" name="question" placeholder="{{'field.question.placeholder' | translate}}"
                           ng-model="settingsAccount.question" ng-minlength=2 ng-maxlength=100
                           required>
                    <div class="error" ng-show="form.question.$dirty && form.question.$invalid">
                        <small class="error"
                               ng-show="form.question.$error.required" translate="field.question.required">
                            A question is required
                        </small>
                        <small class="error"
                               ng-show="form.question.$error.minlength" translate="field.question.minlength">
                            A question must contain at least two characters.
                        </small>
                        <small class="error"
                               ng-show="form.question.$error.maxlength" translate="field.question.maxlength">
                            A question must be no more than 100 characters
                        </small>
                    </div>
                </div>

                <!-- Answer to secret question -->
                <div class="form-group">
                    <label translate="field.answer.label">Answer</label>
                    <input type="text" class="form-control" name="answer" placeholder="{{'field.answer.placeholder' | translate}}"
                           ng-model="settingsAccount.answer" ng-minlength=2 ng-maxlength=50
                           required>
                    <div class="error" ng-show="form.answer.$dirty && form.answer.$invalid">
                        <small class="error"
                               ng-show="form.answer.$error.required" translate="field.answer.required">
                            An answer to the question is required
                        </small>
                        <small class="error"
                               ng-show="form.answer.$error.minlength" translate="field.answer.minlength">
                            An answer must contain at least two characters.
                        </small>
                        <small class="error"
                               ng-show="form.answer.$error.maxlength" translate="field.answer.maxlength">
                            A question must be no more than 100 characters
                        </small>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="button.save">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="back()">
                    <span class="glyphicon glyphicon-ban-circle"></span><span translate="button.cancel">Cancel</span>
                </button>

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
