<div>

    <h2>Trips</h2>
    <button class="btn btn-primary btn-lg" ng-click="newTrip()">
        <span class="glyphicon glyphicon-flash"></span><span translate="button.trip.create">Add a Trip</span>
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="table.heading.id">ID</th>
                <th translate="table.heading.headline">Headline</th>
                <th translate="table.heading.vesselname">Vessel Name</th>
                <th translate="table.heading.skipper">Skipper</th>
                <th translate="table.heading.people">People</th>
                <th translate="table.heading.fuel">Fuel (l)</th>
                <th translate="table.heading.scheduledstart">Sched. Start</th>
                <th translate="table.heading.actualstart">Act. Start</th>
                <th translate="table.heading.scheduledend">Sched. End</th>
                <th translate="table.heading.actualend">Act. End</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trip in trips">
                <td>{{trip.id}}</td>
                <td>{{trip.headline}}</td>
                <td>{{trip.vessel.vesselName}}</td>
                <td>{{trip.skipper.name}}</td>
                <td>{{trip.peopleOnBoard}}</td>
                <td>{{trip.fuelOnBoard}}</td>
                <td>{{trip.scheduledStart_dt | date:'medium'}}</td>
                <td>{{trip.actualStart_dt | date:'shortTime'}}</td>
                <td>{{trip.scheduledEnd_dt | date:'medium'}}</td>
                <td>{{trip.actualEnd_dt | date:'shortTime'}}</td>
                <td>
                    <button type="submit"
                            ng-click="update(trip.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(trip.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
