<div>

    <h2 translate="vessel.list.title">Vessels</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveVesselModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Vessel
    </button>
    <div class="modal fade" id="saveVesselModal" tabindex="-1" role="dialog" aria-labelledby="myVessel1Label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myVessel1Label" translate="vessel.form.title">Create or edit a Vessel</h4>
                    </div>
                    <div class="alert alert-success" ng-show="success" translate="vessel.messages.success">
                        <strong>Vessel saved!</strong>
                    </div>
                    <div class="alert alert-danger" ng-show="error" translate="vessel.messages.error">
                        <strong>An error has occurred!</strong> Vessel could not be saved.
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="vessel.id" readonly>
                        </div>

                        <!-- Hull Identification Number -->
                        <div class="form-group">
                            <label translate="vessel.form.hin.label">Hull Identification Number</label>
                            <input type="text" class="form-control" name="hin" placeholder="{{'vessel.form.hin.placeholder' | translate}}"
                                   ng-model="vessel.hullIdentificationNumber" ng-minlength=12 ng-maxlength=14 required>
                            <div class="error" ng-show="form.hin.$dirty && form.hin.$invalid">
                                <small class="error"
                                       ng-show="form.hin.$error.required" translate="vessel.form.hin.required">
                                    The hull identification number is required.
                                </small>
                                <small class="error"
                                       ng-show="form.hin.$error.minlength" translate="vessel.form.hin.minlength">
                                    A hull identification number is at least 12 digits long
                                </small>
                                <small class="error"
                                       ng-show="form.hin.$error.maxlength" translate="vessel.form.hin.maxlength">
                                    A hull identification number is no more than 14 digits long.
                                </small>
                            </div>
                        </div>

                        <!-- Vessel Type -->
                        <div class="form-group">
                            <label translate="vessel.form.vesseltype.label">Vessel Type</label>
                            <select class="form-control" name="vesselType"
                                    ng-model="vessel.vesselType" ng-selected = "vessel.vesselType">
                                <optgroup label="{{ 'vessel.type.motorised' | translate }}">
                                    <option translate="vessel.type.BOW_RIDER.name">BOW_RIDER</option>
                                    <option translate="vessel.type.HALF_CABIN.name">HALF_CABIN</option>
                                    <option translate="vessel.type.WALK_AROUND.name">WALK_AROUND</option>
                                    <option translate="vessel.type.CENTER_CONSOLE.name">CENTER_CONSOLE</option>
                                    <option translate="vessel.type.OPEN_BOAT.name">OPEN_BOAT</option>
                                    <option translate="vessel.type.FLY_BRIDGE.name">FLY_BRIDGE</option>
                                    <option translate="vessel.type.PERSONAL_WATER_CRAFT.name">PERSONAL_WATER_CRAFT</option>
                                </optgroup>
                                <optgroup label="{{ 'vessel.type.unmotorised' | translate }}">
                                    <option translate="vessel.type.OPEN_COCKPIT.name">OPEN_COCKPIT</option>
                                    <option translate="vessel.type.CABIN.name">CABIN</option>
                                    <option translate="vessel.type.ROW_BOAT.name">ROW_BOAT</option>
                                    <option translate="vessel.type.SEA_KAYAK.name">SEA_KAYAK</option>
                                </optgroup>
                            </select>

                        </div>


                        <div class="form-group">
                            <label>Sample text attribute</label>
                            <input type="text" class="form-control" name="test"
                                   ng-model="vessel.sampleTextAttribute" ng-minlength=1 ng-maxlength=50 required>
                        </div>

                        <div class="form-group">
                            <label>Sample date attribute</label>
                            <input type="date" class="form-control" name="test"
                                   ng-model="vessel.sampleDateAttribute" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="vessel.list.id">ID</th>
                <th translate="vessel.list.name">Sample text</th>
                <th translate="vessel.list.registrationdate">Sample date</th>
                <th translate="vessel.list.hin">Hull ID Number</th>
                <th translate="vessel.list.type">Vessel Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vessel in vessels">
                <td>{{vessel.id}}</td>
                <td>{{vessel.sampleTextAttribute}}</td>
                <td>{{vessel.sampleDateAttribute}}</td>
                <td>{{vessel.hullIdentificationNumber}}</td>
                <td>{{'vessel.type.' + vessel.vesselType + '.name' | translate}}</td>
                <td>
                    <button type="submit"
                            ng-click="update(vessel.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(vessel.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
