<h1>Overview</h1>

<p>Geo d'Sea provides the boating community with communication and monitoring tools that save both time and money.</p>
<p>If you are a:</p>
<ul>
    <li><a ng-href="#/info/skipper/{{language}}">Skipper</a>: You can keep sea rescue, your friends and family informed about your journey.
        This service will also allow you to receive notices relevant to your present location.
    </li>
    <li><a ng-href="#/info/rescue/{{language}}">Sea Rescue Organisation (SRO)</a>: This service will allow you to
        maintain a watch and manage your area of operations. SROs are informed when a vessel is overdue and can use
        the system to obtain information on the vessel including its last reported location and the number or poeple
        on board.
    </li>
    <li><a href="#/info/friend/{{language}}">A Friend or Family Member</a>: By registering for this service, the skipper
        may then authorise you to monitor his location from the time he logs on he logs off.
    </li>
    <li><a href="#/info/club/{{language}}">Club:</a>
        You can use Geo d'Sea to provide a real-time or after then event geographical view of the event.
    </li>
</ul>
