<h1>Skipper</h1>
<p>
    Geo d'Sea provides skippers with a mobile application that simplifies the task of logging on and logging off.
</p>
<p>If you are a yacht club member, or participate in boating events, then the same mobile application can be used to
    provide real-time tracking of your location during an event.</p>
<h2>Logon/Logoff</h2>
<p>Geo d'Sea provides a convenient way to inform the relevant sea rescue organisation of your plans upon departure and
    your safe return.</p>
<p>When embarking on a boat trip, it is good practice to inform the relevant sea rescue organisation about your
    intentions. All you have to do is launch the application at the beginning of a trip. The system will then fill in
    most of the details for you. Complete the rest of a simple form and submit the plan. You are good to go. </p>
<p>If you forget before departing then you can still submit a plan as you go. The important thing is that people know
    your intentions, just in case something goes wrong.</p>
<p>To log on, simply enter your details into the departure form. To make it simple, Geo d'Sea
    can identify your current location and will prefill much of the information for you. Alternatively, details
    for this trip can be drawn from a prior trip.
</p>
<p>While at sea you can use the mobile application to:</p>
<ul type="disc">
    <li>Notify the sea rescue organisation of any change in your plans</li>
    <li>Receive notices</li>
    <li>Communicate with the sea rescue organisation.</li>
    <li>Record placemarks for later reference, e.g. a favorite fishing spot.</li>
</ul>
<p>For example, a submerged object may have been identified, a placemark created and shared with the relevant sea
    rescue organisation.
</p>
<p>To logoff simply press the logoff button on the mobile app.</p>
<h2>Events</h2>
<p>If you are participating in an event then you can grant the club access to your information for a period of time. The
    club can then display your location, heading and speed.</p>

<h2>Keeping in Touch</h2>
<p>Your current position, track and place-marks can be shared with others, either as you go, or after you return home.
    For family and friends who are not out and about with you you can
    <a href="#/register/group">setup your own personal group</a> and <a href="#/register/member">add them as members</a>.
</p>
<p>Information can also be downloaded to your mobile device for future reference. This may include public information,
    information that friends have shared with you, and information you have imported from products like Google
    Earth.</p>
<h2>How it Works</h2>
<p>When a plan is submitted, the relevant sea rescue organisation's details will be downloaded to your mobile along with
    any relevant alerts, for example strong wind warnings. </p>
<p>You plan is maintained onshore, so the sea rescue organisation can keep an eye on you. So, unless you wish to use the
    tracking features, there is no need to keep your mobile device on or with you.</p>
<p>When your journey is complete, a simple press of a button is all that is required. </p>
<p>If your plan changes then it is a simple task to amend the plan. Just update the details and then resubmit it.</p>
<p>The primary function of this app is to help ensure your safety. In the event of an emergency there is an emergency
    button to put you in contact with the sea rescue organisation. It can:</p>
<ul>
    <li>Send alerts to the relevant sea rescue organisation.</li>
    <li>Place a mobile call using the number stored for the sea rescue organisation</li>
    <li>Display instructions on calling up using a two-way radio.</li>
</ul>
<p>The only other time you will hear from sea rescue is if your are overdue.</p>
<h2>Getting Started</h2>
<h3>Register</h3>
<p>In order to use the application, you must be registered. This is a simple one-time process
    to setup your account. If you are an owner of the boat then you will also need to register the boat and
    who is authorised to skipper the boat. This information is provided to the sea rescue organisation
    in the event of an emergency.</p>
<h3>Geo d'Sea Mobile App Download</h3>
<p>If you have an android phone, you can download Geo d'Sea from&nbsp;<a
        href="https://play.google.com/store/apps/details?id=com.geodsea.btracked">here</a>.<br/>
    If you have an Apple® device such as an iPhone&reg; or iPad&reg;, you can download Geo d'Sea from&nbsp;<a
            href="itms-apps://itunes.com/apps/geodsea/BTracked">here</a>&nbsp;or&nbsp;<a
            href="http://itunes.com/apps/geodsea/BTracked">here</a>&nbsp;it the first link does not work. </p>
