<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Geo d'Sea</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/famfamfam-flags.css">
        <link id="mapView" rel="stylesheet" href="bower_components/openlayers/css/ol.css" type="text/css">
        <style> .map { height: 400px; width: 100%;}</style>
        <!-- endbuild -->
    </head>
    <body ng-app="geodseaApp" ng-controller="MainController">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="development"></div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand" href="#"><span translate="title.main">geodsea</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="authenticated">
                    <ul class="nav navbar-nav nav-pills navbar-right">

                        <!-- Home button -->
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-home"></span>
                                <span translate="menu.home">Home</span>
                            </a>
                        </li>

                        <!-- TODO localisation of rescue, owner and skipper menus -->
                        <!-- Rescue menu-->
                        <li ng-switch-when="true" ng-show="isAuthorized(userRoles.rescue)" class="dropdown pointer" ng-controller="RescueController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="menu.rescue.main">Resuce</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/rescue/trips"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.rescue.trips">Trips</span></a></li>
                                <li><a href="#/rescue/map"><span class="glyphicon glyphicon-map-marker"></span>
                                    &#xA0;<span translate="menu.rescue.map">Map</span></a></li>
                                <li ng-switch-when="true" role="presentation" class="divider"></li>
                                <li><a href="#/rescue/settings"><span class="glyphicon glyphicon-wrench"></span>
                                    &#xA0;<span translate="menu.rescue.settings">Settings</span></a></li>
                            </ul>
                        </li>

                        <!-- Owner menu -->
                        <li ng-switch-when="true" ng-show="isAuthorized(userRoles.owner)" class="dropdown pointer" ng-controller="OwnerController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="menu.owner.main">Owner</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/owner/vessels"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.owner.vessels">Vessels</span></a></li>
                                <li><a href="#/owner/trips"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.owner.trips">Trips</span></a></li>
                                <li><a href="#/owner/skippers"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.owner.skippers">Skippers</span></a></li>
                            </ul>
                        </li>

                        <!-- Skipper menu -->
                        <li ng-switch-when="true" ng-show="isAuthorized(userRoles.skipper)" class="dropdown pointer" ng-controller="SkipperController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="menu.skipper.main">Skipper</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/skipper/vessels"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.skipper.vessels">Vessels</span></a></li>
                                <li><a href="#/skipper/trips"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.skipper.trips">Trips</span></a></li>
                            </ul>
                        </li>

                        <!-- User menu -->
                        <li class="dropdown pointer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="menu.user.main">
                                        User
                                    </span>
                                    <b class="caret"></b>
                                </span>
                            </a>

                            <ul class="dropdown-menu" ng-controller="MenuController">
                                <li ng-switch-when="true"><a href="#/settings"><span class="glyphicon glyphicon-wrench"></span>
                                    &#xA0;<span translate="menu.user.settings">Settings</span></a></li>
                                <li ng-switch-when="true"><a href="#/password"><span class="glyphicon glyphicon-lock"></span>
                                    &#xA0;<span translate="menu.user.password">Password</span></a></li>
                                <li ng-switch-when="true"><a href="#/sessions"><span class="glyphicon glyphicon-cloud"></span>
                                    &#xA0;<span translate="menu.user.sessions">Sessions</span></a></li>
                                <li ng-switch-when="true"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>
                                    &#xA0;<span translate="menu.user.logout">Log out</span></a></li>
                                <li ng-switch-when="false"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>
                                    &#xA0;<span translate="menu.user.login">Authenticate</span></a></li>
                                <li ng-switch-when="true" role="presentation" class="divider"></li>
                                <li ng-switch-when="true"><a href="#/vessel"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.user.vessels">Vessels</span></a></li>
                                <li ng-switch-when="true"><a href="#/skipper"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.user.skippers">Skippers</span></a></li>
                                <li ng-switch-when="true"><a href="#/trips"><span class="glyphicon glyphicon-list"></span>
                                    &#xA0;<span translate="menu.user.trips">Trips</span></a></li>
                            </ul>
                        </li>

                        <!-- Add Menu -->
                        <li class="dropdown pointer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="hidden-tablet" translate="menu.add.main">
                                        Register
                                    </span>
                                    <b class="caret"></b>
                                </span>
                            </a>

                            <ul class="dropdown-menu" ng-controller="MenuController">
                                <li ng-switch-when="false"><a href="#/register/user">
                                    <span class="glyphicon glyphicon-user"></span>&#xA0;
                                    <span translate="menu.add.user">User</span></a></li>

                                <li ng-switch-when="true"><a href="#/register/vessel">
                                    <span class="glyphicon glyphicon-plus"></span>&#xA0;
                                    <span translate="menu.add.vessel">Vessel</span></a></li>

                                <li role="presentation" class="divider"></li>

                                <li ng-switch-when="true"><a href="#/register/group">
                                    <span class="glyphicon glyphicon-plus"></span>&#xA0;
                                    <span translate="menu.add.group">Group</span></a></li>

                                <li ng-switch-when="true"><a href="#/register/organisation">
                                    <span class="glyphicon glyphicon-plus"></span>&#xA0;
                                    <span translate="menu.add.organisation">Organisation</span></a></li>

                                <li ng-switch-when="true"><a href="#/register/member">
                                    <span class="glyphicon glyphicon-plus"></span>&#xA0;
                                    <span translate="menu.add.member">Member</span></a></li>

                            </ul>
                        </li>


                        <!-- Admin menu -->
                        <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer" ng-controller="AdminController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="menu.admin.main">Admin</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/tracker"><span class="glyphicon glyphicon-eye-open"></span>
                                    &#xA0;<span translate="menu.admin.tracker">User tracking</span></a></li>
                                <li><a href="#/metrics"><span class="glyphicon glyphicon-dashboard"></span>
                                    &#xA0;<span translate="menu.admin.metrics">Metrics</span></a></li>
                                <li><a href="#/audits"><span class="glyphicon glyphicon-bell"></span>
                                    &#xA0;<span translate="menu.admin.audits">Audits</span></a></li>
                                <li><a href="#/logs"><span class="glyphicon glyphicon-tasks"></span>
                                    &#xA0;<span translate="menu.admin.logs">Logs</span></a></li>
                                <li><a href="#/docs"><span class="glyphicon glyphicon-book"></span>
                                    &#xA0;<span translate="menu.admin.apidocs">API Docs</span></a></li>
                            </ul>
                        </li>
                        <!-- Language menu -->
                        <li class="dropdown pointer" ng-controller="LanguageController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li active-menu="da">
                                    <a href="#" ng-click="changeLanguage(&#x27;da&#x27;)"><span class="famfamfam-flag-dk"></span>
                                        &#xA0;<span translate="language.da">Danish</span></a>
                                </li>
                                <li active-menu="en">
                                    <a href="#" ng-click="changeLanguage(&#x27;en&#x27;)"><span class="famfamfam-flag-gb"></span>
                                        &#xA0;<span translate="language.en">English</span></a>
                                </li>
                                <li active-menu="fr">
                                    <a href="#" ng-click="changeLanguage(&#x27;fr&#x27;)"><span class="famfamfam-flag-fr"></span>
                                        &#xA0;<span translate="language.fr">French</span></a>
                                </li>
                                <li active-menu="de">
                                    <a href="#" ng-click="changeLanguage(&#x27;de&#x27;)"><span class="famfamfam-flag-de"></span>
                                        &#xA0;<span translate="language.de">German</span></a>
                                </li>
                                <li active-menu="pl">
                                    <a href="#" ng-click="changeLanguage(&#x27;pl&#x27;)"><span class="famfamfam-flag-pl"></span>
                                        &#xA0;<span translate="language.pl">Polish</span></a>
                                </li>
                                <li active-menu="ru">
                                    <a href="#" ng-click="changeLanguage(&#x27;ru&#x27;)"><span class="famfamfam-flag-ru"></span>
                                        &#xA0;<span translate="language.ru">Russian</span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- Help menu -->
                        <li class="dropdown pointer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <span class="hidden-tablet" translate="menu.help.main">Help</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu" ng-controller="HelpController">
                                <li><a href="#/info/overview/{{language}}"><span class="glyphicon glyphicon-info-sign"></span>
                                    &#xA0;<span translate="menu.help.overview">Overview</span></a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header"><span translate="menu.help.role">Role</span></li>
                                <li><a href="#/info/owner/{{language}}"><span class="glyphicon glyphicon-info-sign"></span>
                                    &#xA0;<span translate="menu.help.owner">Boat Owner</span></a></li>

                                <li><a href="#/info/skipper/{{language}}"><span class="glyphicon glyphicon-info-sign"></span>
                                    &#xA0;<span translate="menu.help.skipper">Skipper</span></a></li>

                                <li ><a ng-href="#/info/rescue/{{language}}"><span class="glyphicon glyphicon-info-sign"></span>
                                    &#xA0;<span translate="menu.help.rescue">Rescue</span></a></li>


                                <li><a href="#/info/club/{{language}}"><span class="glyphicon glyphicon-info-sign"></span>
                                    &#xA0;<span translate="menu.help.club">Club</span></a></li>

                                <li><a href="#/friend"><span class="glyphicon glyphicon-info-sign"></span>
                                    &#xA0;<span translate="menu.help.friend">Friends</span></a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href="#/info/about/{{language}}"><span class="glyphicon glyphicon-info-sign"></span>
                                    &#xA0;<span translate="menu.help.about">About</span></a></li>
                                <li><a href="#/contact"><span class="glyphicon glyphicon-envelope"></span>
                                    &#xA0;<span translate="menu.help.contact">Contact</span></a></li>
                                <li><a href="#/faq"><span class="glyphicon glyphicon-question-sign"></span>
                                    &#xA0;<span translate="menu.help.faq">FAQ</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="well" ng-view=""></div>

            <div class="footer">
                <p translate="message.info.footer">This is your footer</p>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->


        <!-- build:js scripts/scripts.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>

        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
<!--        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>
        <script src="scripts/http-auth-interceptor.js"></script>
        <script src="scripts/truncate.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/directives.js"></script>
        <script src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
        <script src="bower_components/atmosphere/atmosphere.js"></script>
        <script src="bower_components/jquery-atmosphere/jquery.atmosphere.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
        <script src="bower_components/openlayers/ol.min.js" type="text/javascript"></script>
        <script src="scripts/vessel/router_vessel.js"></script>
        <script src="scripts/vessel/controller_vessel.js"></script>
        <script src="scripts/vessel/service_registration.js"></script>
        <script src="scripts/vessel/service_vessel.js"></script>
        <script src="scripts/licensor/router_licensor.js"></script>
        <script src="scripts/licensor/controller_licensor.js"></script>
        <script src="scripts/licensor/service_licensor.js"></script>
        <script src="scripts/group/router_group.js"></script>
        <script src="scripts/group/controller_group.js"></script>
        <script src="scripts/group/service_group.js"></script>
        <script src="scripts/organisation/router_organisation.js"></script>
        <script src="scripts/organisation/controller_organisation.js"></script>
        <script src="scripts/organisation/service_organisation.js"></script>
        <script src="scripts/member/router_member.js"></script>
        <script src="scripts/member/controller_member.js"></script>
        <script src="scripts/member/service_member.js"></script>
        <script src="scripts/trip/router_trip.js"></script>
        <script src="scripts/trip/controller_trip.js"></script>
        <script src="scripts/trip/service_trip.js"></script>
        <!-- endbuild -->
</body>
</html>
